@charset "UTF-8";
/* Body */
body {
	font-family: source-sans-pro;
	background-color: #f2f2f2;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	font-style: normal;
	font-weight: 200;
}

.text {
	margin-left: 130px;
}

.links {
	margin-left: 130px;
}

/* Navigation */
header {
	width: 100%;
	height: 5%;
	background-color: #52bad5;
	border-bottom: 1px solid #2C9AB7;
}
.navbar {
  height: 100%;
  width: 120px; 
  position: fixed; 
  z-index: 1; 
  top: 0; 
  left: 0;
  background-color: #3E424B; 
  overflow-x: hidden;
  padding-top: 20px;
}
.navbar a {
  display: block;
  color: #FFFFFF;
  padding: 16px;
  text-decoration: none;
}
.name_header {
	color: #FFFFFF;
	text-align: center;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	letter-spacing: 4px;
}
/* Name Section */
.name {
	background-color: #B3B3B3;
	padding-top: 100px;
	padding-bottom: 100px;
}
.light {
	font-weight: bold;
	color: #717070;
}
.tagline {
	text-align: center;
	color: #FFFFFF;
	margin-top: 4px;
	font-weight: lighter;
	text-transform: uppercase;
	letter-spacing: 1px;
}
/* About Section */

.about {
	padding-left: 25px;
	padding-right: 25px;
	padding-top: 10px;
	display: block;
	color: #f2f2f2;
	background-color: #3E424B;
	margin-left: 120px;
}

/* Experience Section */
.experience {
	padding-left: 25px;
	padding-right: 25px;
	padding-top: 10px;
	display: block;
	color: #f2f2f2;
	background-color: #3E424B;
	margin-left: 120px;
}
/* Projects Section */
.projects {
	padding-left: 25px;
	padding-right: 25px;
	padding-top: 10px;
	display: block;
	color: #f2f2f2;
	background-color: #3E424B;
	margin-left: 120px;
}
/* Skills Section */
.skills {
	padding-left: 25px;
	padding-right: 25px;
	padding-top: 10px;
	display: block;
	color: #f2f2f2;
	background-color: #3E424B;
	margin-left: 120px;
}
/* Education Section */
.education {
	padding-left: 25px;
	padding-right: 25px;
	padding-top: 10px;
	display: block;
	color: #f2f2f2;
	background-color: #3E424B;
	margin-left: 120px;
}
/* Contact Section */
.contact {
	padding-left: 25px;
	padding-right: 25px;
	padding-top: 10px;
	display: block;
	color: #f2f2f2;
	background-color: #3E424B;
	margin-left: 120px;
}
.form {
	border-radius: 5px;
	background-color: #f2f2f2;
	padding: 20px;
	margin-left: 130px;
}
input[type=text], select, textarea {
  width: 100%;
  padding: 12px;  
  border: 1px solid #ccc; 
  border-radius: 4px; 
  box-sizing: border-box; 
  margin-top: 6px; 
  margin-bottom: 16px; 
  resize: vertical 
}
input[type=submit] {
  background-color: #003151;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}