@charset "UTF-8";
* {
	margin: 0;
	padding: 0;
}

body {
	font-family: Arial Narrow, sans-serif;
	background-color: #f2f2f2;
	overflow-x: hidden;
}

header .header-1 {
	position: fixed;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background: #383838;
	width: 100%;
	padding: 10px 20px;
}

header .header-1 .navbar ul{
	display: flex;
	align-items: center;
	justify-content: space-between;
	list-style: none;
}

header .header-1 .navbar ul li{
	margin: 10px;
}

header .header-1 .navbar ul li a{
	color: #fff;
	font-size: 20px;
}

header .header-1 .navbar ul li a:hover{
	color: #fff8;

}

#menu{
	font-size: 30px;
	color: #fff;
	cursor: pointer;
	display: none;
}

header .header-1.sticky{
	position: fixed;
	top: 0; left: 0;
}
	
.title { 
	color: #FFFFFF;
	text-align: center;
	font-size: xx-large;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-top: 100px;
	letter-spacing: 4px;
}

.anchor {
    display: inline;
    position: relative;
    top: -50px;
    visibility: hidden;
}

/* Landing Section */
.landing {
	background: url("../images/splash.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100vh;
}

.tagline {
	text-align: center;
	color: #FFFFFF;
	margin-top: 4px;
	font-weight: lighter;
	text-transform: uppercase;
	letter-spacing: 1px;
}

.section {
	background-color: #f2f2f2;
	height: 50vh !important;
}

.section-title {
	margin-top: 0px;
  	padding: 30px;
  	text-align: left;
	text-indent: 50px;
  	background: #383838;
  	color: white;
  	font-size: 30px;
}

.section-text {
	margin-left: 75px;
	font-size: 25px;
	font-style: italic;

}

* {
  	box-sizing: border-box;
}

.column {
	float: left;
	margin-left:70px;
  	width: 20%;
  	padding-top: 25px;
  	padding-bottom: 50px;
  	padding-left: 25px;
  	padding-right: 25px;
}

.row {
	margin: 0 -5px;
}

.row:after {
  	content: "";
  	display: table;
  	clear: both;
}

.card {
  	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  	border-radius: 5px;
  	padding: 16px;
  	text-align: center;
  	background-color: #f1f1f1;

}

.column-exp {
	width: 90%;
	margin-left: 55px;
  	padding-top: 25px;
  	padding-bottom: 25px;
  	padding-left: 25px;
  	padding-right: 25px;
}

.column-edu {
  	float:left;
	margin-left:70px;
  	width: 45%;
  	padding-top: 25px;
  	padding-bottom: 50px;
  	padding-left: 25px;
  	padding-right: 25px;
}

.card-contact {
  	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  	border-radius: 5px;
  	padding: 16px;
  	margin-left: 20%;
 	margin-right: 20%;
  	margin-top: 4.25%;
	margin-bottom: 10%;
  	text-align: center;
	word-spacing: 100px;
  	background-color: #f1f1f1;
}

.responsiveimg {
	width: 50%;
	height: auto;
}

@media (max-width:768px){
	
	.header-1 #menu{
		display: block;
	}
	
	.header-1 .navbar{
		position: fixed;
		top: -1175px; left: 50%;
		transform: translate(-50%, -50%)
	}
	
	.header-1 .navbar ul{
		flex-flow: column;
		width: 250px;
		border-radius: 5px;
		padding: 30px 10px;
		background: #383838;
		box-shadow: 0 0 0 100vh rgba(0,0,0,.5), 0 3px 5px #000;			
	}
	
	.header-1 .navbar ul li{
		width: 100%;
		text-align: center;
	}
	
	.header-1 .navbar ul li a{
		font-size: 25px;
		display: block;
	}
	
	.header-1 .navbar.nav-toggle{
		top: 45%;
		opacity: 1;
	}
}

	.section {
		height: 100%;
	}

@media only screen and (max-width: 428px){
	.column-exp {
	width: 85%;
	margin-left: 55px;
  	padding-top: 25px;
  	padding-bottom: 25px;
  	padding-left: 25px;
  	padding-right: 25px;
	}
	
	.column {
  	float: center;
	margin-left:70px;
  	width: 70%;
  	padding-top: 25px;
  	padding-bottom: 50px;
  	padding-left: 5px;
  	padding-right: 5px;
	}
	
	.column-edu {
  	float:center;
	margin-left:70px;
  	width: 80%;
  	padding-top: 25px;
  	padding-bottom: 50px;
  	padding-left: 5px;
  	padding-right: 45px;
	}
	
	.section {
		height: 100%;
	}
}
