@charset "UTF-8";

body {
	font-family: Arial Narrow, sans-serif;
	background-color: #f2f2f2;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
	overflow-x: hidden;
}

/* Navigation */
.navbutton {
	margin-top: 15px;
	margin-left: 10px;
	position: fixed;
	font-size:50px;
	cursor:pointer;
}

.nav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.nav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.nav a:hover {
  color: #f1f1f1;
}

.nav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
.header { 
	color: #FFFFFF;
	text-align: center;
	font-size: xx-large;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-top: 100px;
	letter-spacing: 4px;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* Landing Section */
.landing {
	background: url("../images/splash.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100vh;
	transition: margin-left .5s;
}

.tagline {
	text-align: center;
	color: #FFFFFF;
	margin-top: 4px;
	font-weight: lighter;
	text-transform: uppercase;
	letter-spacing: 1px;
}

.section {
	background-color: #f2f2f2;
	margin-top: 0px;
	transition: margin-left .5s;
}

.section-title {
	margin-top: 0px;
  	padding: 30px;
  	text-align: left;
	text-indent: 50px;
  	background: #383838;
  	color: white;
  	font-size: 30px;
}

.section-text {
	margin-left: 75px;
	font-size: 25px;
	font-style: italic;

}

* {
  	box-sizing: border-box;
}

.column {
	float: left;
	margin-left:70px;
  	width: 20%;
  	padding-top: 25px;
  	padding-bottom: 50px;
  	padding-left: 25px;
  	padding-right: 25px;
}

.row {
	margin: 0 -5px;
}

.row:after {
  	content: "";
  	display: table;
  	clear: both;
}

.card {
  	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  	border-radius: 5px;
  	padding: 16px;
  	text-align: center;
  	background-color: #f1f1f1;

}

.column-exp {
	width: 90%;
	margin-left: 55px;
  	padding-top: 25px;
  	padding-bottom: 25px;
  	padding-left: 25px;
  	padding-right: 25px;
}

.column-edu {
  	float:left;
	margin-left:70px;
  	width: 45%;
  	padding-top: 25px;
  	padding-bottom: 50px;
  	padding-left: 25px;
  	padding-right: 25px;
}

.card-contact {
  	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  	border-radius: 5px;
  	padding: 16px;
  	margin-left: 20%;
 	margin-right: 20%;
  	margin-top: 4.25%;
	margin-bottom: 10%;
  	text-align: center;
	word-spacing: 100px;
  	background-color: #f1f1f1;
}

.responsive {
	width: 50%;
	height: auto;
}

@media only screen and (max-width: 428px){
	.navbutton {
	margin-top: 15px;
	margin-left: 10px;
	position: fixed;
	font-size:35px;
	cursor:pointer;
	}
	.column-exp {
	width: 85%;
	margin-left: 55px;
  	padding-top: 25px;
  	padding-bottom: 25px;
  	padding-left: 25px;
  	padding-right: 25px;
	}
	.column {
  	float: center;
	margin-left:70px;
  	width: 80%;
  	padding-top: 25px;
  	padding-bottom: 50px;
  	padding-left: 25px;
  	padding-right: 25px;
	}
	.column-edu {
  	float:center;
	margin-left:70px;
  	width: 80%;
  	padding-top: 25px;
  	padding-bottom: 50px;
  	padding-left: 25px;
  	padding-right: 25px;
	}
}
	